.logo {
    text-decoration: none;
    font-weight: 1000;

}
body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto 
}
aside {
    flex: 1;
    overflow-y: auto 
}
footer {
    text-align: center;
}